<IfModule mod_rewrite.c>
RewriteEngine On
Options -MultiViews
RewriteRule ^scripts - [L] 
RewriteRule ^topic/(.*)/(.*)$ index.php?name=$2&t_id=$1
RewriteRule ^news/details/(.*)$ single.php?id=$1
RewriteRule ^category/(.*)/(.*)\.html$ categories.php?id=$1   
</IfModule>